# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE / generated
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Build output
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# OS
.DS_Store
Thumbs.db

/Assets/_Recovery/
/Assets/_Recovery.meta
/.utmp/
